body {
  margin: 0;
  background-color: skyblue;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* --------------------------------------------------------------------------------- */
/* Buttons on the login screen, can be used for large buttons */
.cool-button {
  cursor: pointer;
  padding: 12px 18px 12px 18px;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 0 2px inset rgba(58, 55, 50, 0.5);
  position: relative;
  display: inline-block;
  border: 0 #000;
}

.cool-button:hover {
  color: #ece8e1;
  box-shadow: 0 0 0 2px inset rgba(113, 109, 100, 0.5);
}

.cool-button:active {
  box-shadow: 0 0 #666;
  transform: translateY(4px);
}

.cool-button:after,
.cool-button:before {
  content: "";
  width: 2px;
  position: absolute;
  height: 14px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.cool-button:before {
  right: 0;
  left: initial;
}